.formulario-contenedor {
    background-color: #fff; /* Fondo blanco */
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 450px; /* Ancho máximo del formulario */
    margin: 2rem auto; /* Centrado con margen arriba y abajo */
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .formulario-titulo {
    color: #cc6214; /* Color de encabezado */
    margin-bottom: 1rem;
    font-size: x-large;
  }
  
  .formulario {
    width: 100%;
  }
  
  .formulario-label {
    display: block; /* Asegura que la etiqueta esté en su propia línea */
    margin-bottom: 0.5rem;
    color: #666;
  }
  
  .formulario-input {
    width: calc(100% - 2rem); /* Ancho menos el padding */
    padding: 10px;
    margin-bottom: 1rem;
    border: 1px solid #ccc; /* Borde sutil */
    border-radius: 5px;
    background: #e4e4e4; /* Fondo para distinguir del blanco */
  }
  
  .formulario-boton {
    padding: 10px 20px;
    background-color: #cc6214; /* Color de fondo naranja */
    color: white; /* Texto en blanco para contraste */
    border: none;
    border-radius: 5px;
    cursor: pointer; /* Indica que es un elemento clickeable */
    transition: background-color 0.3s ease; /* Transición suave para el cambio de color */
  }
  
  .formulario-boton:hover {
    background-color: #e6733c; /* Color más claro al pasar el cursor */
  }
  