@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400&display=swap');

/* Reset de estilos */
*,
*::before,
*::after {
    margin: 0;
    padding: .5px;
    box-sizing: border-box;
    color: #000000;
}

/* Estilos generales de la página */
html {
    font-family: 'Poppins', sans-serif;
    font-size: 62.5%;
    color: #ffffff; /* Texto */
    scroll-behavior: smooth;
    
}

body {
    background: #f1d2b1; /* Fondo principal */
    overflow-x: hidden;
    
}
html, body {
    min-height: 100%;
    position: relative;
  }
/* Estilos para secciones */
section {
    padding: 3.9rem 0;
    overflow: hidden;
}

/* Estilos para imágenes */
img {
    width: 30%;
    max-width: 100%;
    margin: 20px;
}

/* Estilos para enlaces */
a {
    text-decoration: none;
    display: block;
    color: #ffffff; /* Texto */
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-right: -2px;
}

/* Estilos para párrafos */
p {
    font-size: 1.6rem;
    color: #4a4a4a; /* Descripciones */
}

/* Estilos para el contenedor principal */
.container {
    width: 100%;
    max-width: 122.5rem;
    margin: 0 auto;
    padding: 4px 2.4rem;
}

/* Estilos para el encabezado */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 115px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: #f7c188; /* Fondo principal y estilos de navegación */
    box-shadow: 0px 2px 5px #000000; /* Sombras */
}

/* Estilos para la barra de navegación */
.nav {
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-toggle {
    color: #ffffff; /* Texto */
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 1500;
}

/* Más estilos para la barra de navegación */
.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 35%;
    height: 100vh;
    background-color: #252525;
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
}

.fa-times {
    display: none;
}

.nav::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;
}

.open .fa-times {
    display: block;
}

.open .fa-bars {
    display: none;
}

.open .nav-list {
    transform: translateX(0);
}

.open .nav::before {
    opacity: 1;
    transform: scale(1);
}

.logo {
    width: 130px; /* Aumenta el ancho según lo necesites */
    height: auto;
    align-items: flex-start;
    color: #ffffff; /* Texto */
    font-size: 2rem;
    font-weight: 600;
    margin-left: 100px;
}

.logo .pos {
    top: 100%;
    left: 100%;
    height: 20%;
    width: 135px;
    margin-top: 5%;
    margin-left: 5%;
}

.logo-container {
    display: flex;
    align-items: center;
}

.brand-name {
    font-family: cursive; /* Asegúrate de cargar la fuente que desees usar */
    font-size: 2rem; /* Ajusta esto según sea necesario */
    font-weight: bold; /* Hace que la fuente sea más gruesa */
    color: #ffffff; /* Texto */
    margin-left: 1rem; /* Espacio entre el logo y el texto */
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}


.nav-item {
    border-bottom: 2px solid rgba(255, 255, 255, .3);
}


.nav-link {
    color: rgb(255, 255, 255);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
}

.nav-link:hover {
    color: hsl(0, 0%, 0%);
}

ul {
    list-style: inside; /* Puntos dentro para ahorrar espacio */
    padding-left: 1rem;
    color: #000000;
    font-size: 12px;
}

/* Botones y llamados a la acción */
.cta-btn {
    background-color: #CC6214; /* Color temático para botones */
    color: #fff;
    text-decoration: none;
    padding: 0.8rem 1.2rem;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cta-btn:hover {
    background-color: #E67E22; /* Un poco más claro al pasar el cursor */
}

.call-to-action {
    text-align: center; /* Centrar CTA para darle énfasis */
    margin-top: 2rem;
}

/* Estilo para imágenes */
.menu-item img {
    width: auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px; /* Bordes redondeados para la imagen */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
}


/*Hero*/


.hero {
    /*para el menu un poco, para colocar la imagen al fondo del inicio*/
    width: 100%;
    height: 70vh;
    /*para dejar espacio para la imagen*/
    background: url("../imagenescolorida/hamburguesa_rosa_inicio.jpg") center no-repeat;
    /*no ves pa la imagen del fondo  normalmente llevaria background-img pero le quitamos el img para que este al fondo*/
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    /*pues para que todo el texto de Bienbenidos etc se ponga enmedio xd*/
    text-decoration: none;


}

.h2-sub {
    /*diseño del bienbenido*/
    font-size: 3rem;
    font-family: 'Poppins', sans-serif;
    color: #fffeff;
    font-weight: 600;
    line-height: .4;
}

.fil {
    text-transform: uppercase;
    font-size: 3rem;
}

.head {
    /*ahora la parte del titulo por asi decirlo en este caso es RAINBOW BREAD*/
    color: #fff;
    font-size: 3.7rem;
    font-family: 'Poppins', sans-serif;
    /*Es una fuente si hay internet y cuando no*/
    text-transform: uppercase;
    /*pues para las mayusculas rey*/
    font-weight: 900;
    letter-spacing: .5rem;
    /*el espacio entre las letras*/
}

.circle {
    font-size: 1.5rem;
    color: #e6d00e;
    margin: 0 1.6rem;
}

.he-des h5 {
    /*la parte de abajo despues del titulo pai*/
    color: rgb(255, 255, 255);
    font-size: 2.4rem;
    /*tamaño de la letra*/
    font-weight: 0;
    /*para quitarle grosor*/
    text-transform: uppercase;
    /*lo mismo pa mayusculas*/
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
}

.btn {
    /*para el boton de explorar*/
    display: inline-block;
    /*para dejarle espacio de todos lados*/
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: -2px;
}

.cta-btn {
    /*diseño del boton*/
    font-size: 1.1rem;
    background-color: #ffc845;
    /*para darle color pero con esto solo aparecera como marcado*/
    padding: 1.5rem 3rem;
    /* para que salga como tipo cuadro el color*/
    color: #fff;
    /*color de la letra de adrento pa*/
    border-radius: .4rem;
    /*pues para el borde ing*/
}

.cta-btn:hover,
.cta-btn:focus {
    /*lo mismo para que cuando pases el cursor cambie de color*/
    color: #fff;
    background-color: #e6733b;
}


.global {
    /*ya son para los titulos descubre,platillos etc*/
    text-align: center;
    /*pus centar*/
    margin-top: 3.9rem;
    /*para dejar espacio*/
}

.dis-sto {
    background-color: rgb(173, 63, 8);

    color: rgb(255, 255, 255);
    padding: 6rem 1rem;
    margin: 4rem;
    font-size: 100px;
    border-radius: 1% 1% 1% 1%;
}

.disco {
    background-color: rgb(234, 121, 65);

    color: white;
    padding: 6rem 1rem;
    margin: 4rem;
    font-size: 100px;
    border-radius: 1% 1% 1% 1%;
}

.dis-sto .global {
    margin-top: 6.9rem;
}

.global .circle {
    color: yellow;
    /*ya todos los subtitulos o titulos ya tienen el color pero aun asi por cualquier cosa*/
    margin: 2.4rem 0;
    /*para dejar mas espacio*/
}

.hea-dark {
    /*Las letras debajo de Descubre de la 2 parte*/
    color: #ffc845;
    letter-spacing: .7rem;
    /*espacio entre las letras*/
    margin-right: -.7rem;
}

.global .h2-sub {
    letter-spacing: -1px;
    line-height: .42;
}

.res-info {
    /*para centrar la informacion*/
    text-align: center;
}

.res-des {
    /*para el boton del 2 apartado*/
    margin-bottom: 3rem;
}

.res-des p {
    /*para el parrafo pa*/
    line-height: 1.6;
    margin-bottom: 2.4rem
        /*para dejar espacio entre el parrafo y el boton*/
}


/*menu*/

.taste {
    /*para la parte de platillos digamos que es la parte 3*/
    background: url("../imagenescolorida/fonds77.jpg") center no-repeat;
    /*colocar la imagen en el fondo*/
    background-size: cover;
    /*para que cubra toda su parte*/
}

.bt {
    min-height: 65vh;
    display: flex;
    align-items: center;
}

/*Orden de la que va dentro del menu*/

.image-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

.disco .res-des {
    padding-top: 3rem;
    margin-bottom: 0;
}

.box {
    max-width: 1000px;
    margin: 2rem auto;
    padding: 2rem;
    background: #FFF7F0; /* Fondo más suave */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.subtitulo {
    text-align: center;
    color: #cc6214; /* El color que has especificado para el subtítulo */
    margin-bottom: 2rem;
    font-size: 3rem; /* Tamaño más grande para el subtítulo */
    font-weight: bold;
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.menu-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.d2 .Psistema {
    color: #000000; /* Color más oscuro para el texto */
    font-size: 1.6rem; /* Un tamaño uniforme para todo el texto */
    line-height: 1.6;
    text-align: justify; /* Centra el texto horizontalmente */
}

/*footer*/
footer {
    padding: 7.9rem 0;
    background-color: #381904;
    color: #fff;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    height: auto; /* Ajuste la altura según el contenido del footer */
}
.footer-section h3, .footer-section p, .footer-section ul, .footer-section a {
    color: white; /* Asegura que todo el texto sea blanco */
}
.footer-section {
    flex-basis: 30%;
    margin: 20px;

}

.footer-section p {
    line-height: 1.6;
}


.footer-content {
    overflow: hidden;
}

.footer-content h4 {
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.footer-content .circle {
    margin: 2.4rem 0;
}

.footer-content-about {
    margin-bottom: 5.4rem;
}

.footer-content-about p {
    line-height: 2;
}

.footer-section h3 {
    text-align: center;
    margin-bottom: 10px;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}


.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section li {
    margin-bottom: 10px;
    display: inline-block;
}

.footer-section a {
    color: #fff;
    margin-left: 40px;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.icono {
    width: 40px; /* Tamaño uniforme para los íconos */
    height: auto;
    vertical-align: middle;

}

.icono:hover {
    transform: scale(1.1);
}

.social-icons {
    list-style: none;
    margin-bottom: 5.4rem;
    display: flex;
    justify-content: center;
}

.social-icons i {
    font-size: 2rem;
    color: #e7ce14;
    padding: .8rem 2rem;

}

.social-icons i:hover,
.social-icons i:focus {
    color: #f51c1c;
}

.news-form {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.news-input {
    width: 100%;
    max-width: 25rem;
    padding: 1rem;
    border-radius: .4rem;
}

.news-btn {
    background: transparent;
    border: none;
    color: #252525;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1px .6rem;
    position: absolute;
    top: 30%;
    margin-left: 20.5rem;
}




/*native*/
@media screen and (min-width: 900px) {

    section {
        padding: 5 rem;
        /*padding-top: 12.5rem;*/
    }

    .menu-toggle {
        display: none;
    }

    .nav {
        justify-content: space-between;
    }

    .nav-list {
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        justify-content: initial;
        flex-direction: row;
        transform: translateX(30px);
        transition: initial;

    }

    .nav-item {
        margin: 0 2.4rem;
    }

    .nav-item:last-child {
        margin-right: 0;
    }

    .nav-link {
        font-size: 1.3rem;
    }

    .active {
        position: relative;
    }

    .active::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        left: 0;
        bottom: -3px;
    }

    .h2-sub {
        font-size: 3rem;
    }

    .fil {
        font-size: 3rem;
    }

    .head {
        font-size: 4.7rem;
        letter-spacing: .8rem;
    }

    .res-info {
        display: flex;
        align-items: center;
    }

    .res-info>div {
        flex: 1;
    }

    .pad-rig {
        padding-right: 7rem;
    }

    .footer-content {
        max-width: 77.5rem;
        margin: auto;
    }

    .footer-content-about {
        max-width: 51.3rem;
        margin: 0 auto 5.4rem;
    }

    .footer-div {
        display: flex;
        justify-content: space-between;
    }

    .social-media,
    .news-form {
        width: 100%;
        max-width: 27.3rem;
        margin: 0 1rem;
    }

    .news-btn {
        margin-left: 7.5rem;
    }


}

.box-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.box {
    /*width: calc(25% - 10px);  Divide el espacio en cuatro partes */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
